/* * {
  margin: 0;
  padding: 0;
} */


.contenedor {
    min-width: 100px;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
}

/* .container {
  height: 65vh;
} */
header {
    width: 100%;
    overflow: hidden;
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    float: left;
    overflow: hidden;
}

/** Navegacion **/
.navegacion {
  background-color: #112e51;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul::after {
  content:'';
  display: block;
  clear: both;
}

nav ul li button {
  display: inline-block;
  width: 300px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;;
  font-size: 14px;
  background-color: #112e51;
  border: none;
  letter-spacing: 0.1em;

}

nav ul li button:hover {
  background-color: #0071bc;
  color: #212121;
  text-decoration: none;
}
 /**fin Navegacion **/

#myCarousel {
  float: right;
  width: 50%;
  padding: 1em;
}

.col-sm-6 {
  float: left;
  width: 50%;
  padding: 1em;
  margin: 20px auto;
}

@media screen and (max-width: 600px){
  #myCarousel {
    float: left;
    width: 100%;
    padding: 1em;
  }
  
  .col-sm-6 {
    float: left;
    width: 100%;
    padding: 1em;
    margin: 0 auto;
  }
}

.item img {
  width: 100%;
}

div table caption {
  caption-side:top;
  font-weight: bold;
  color: inherit;
  text-align: center;
  font-size: 16px;
}

#previa {
  text-align: center;
}

.ocultar {
   display: none;
 }

.mostrar {
  display: block;
}

.year .orden{
  display: inline-block;
}

.year {
  margin: 20px;
}

.orden {
  margin: 20px;
}

.filter{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonAños{
  background-color: #9bdaf1;
    color: black;
    border: 0;
    border-radius: 30px;
    width: 75px;
    margin: 4px;
    padding: 10px;
 }

 .buttonFilter{
  background-color: #8ba6ca;
    color: black;
    border: 0;
    border-radius: 8px;
    width: 75px;
    margin: 4px;
    padding: 10px;
 }

 .type-select{
  background-color: #9bdaf1;
    color: black;
    border: 0;
    border-radius: 30px;
    width: 290px;
    margin: 4px;
    padding: 10px;
 }